.problem3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: var(--color-primary);
}

h2{
    color: var(--color-secondary);
    font-size: 2rem;
}