/* // colors variable */

:root {
  --color-primary: #EEEEEE;
  --color-secondary: #00ADB5;
  --color-tertiary: #393E46;
  --color-background: #222831;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
}