* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* remove input box bar */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.P6Container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.PhoneNumberCard {
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-tertiary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.PhoneNumberCard h1 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}



.phone input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.phone button {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.phone button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


.P6OtpCard {
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-tertiary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.P6OtpCard h1 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.otp{
    width: 100%;
    display: flex;
    justify-content: space-around;

}


.otp input {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-primary);
}


